# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user
data/globalterrorismdb_0814dist.xlsx
data/GTD Distribution letter 2014.pdf
data/gtd1993_0814dist.xlsx
data/gtd_06to13_0814dist.xlsx
data/gtd_70to89_0814dist.xlsx
data/gtd_90to05_0814dist.xlsx
data/GTD_Codebook_2014Final.pdf
data/Terms of Use.pdf
